/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CUSTOM CODE*/

html {
  background: #FAF6EE;
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

header {
  margin-top: 48px;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 36px;
  color: #565656;
}

h1 span {
  color: #7AC9C5;
}

p.desc {
  margin-top: 24px;
  font-size: 16px;
  line-height: 28px;
}

main {
  position: relative;
  width: 100%;
  height: 800px;
  margin: 24px 0;
  border-radius: 8px;
  overflow: hidden;
}

#board {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F6F2E6;
  opacity: 1;
}

.scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 48px;
  text-align: center;
  box-sizing: border-box;
}

.scene a {
  width: auto;
  padding: 12px 18px;
  display: inline-block;
  background: #7AC9C5;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s all ease-in-out;
}
.scene a:hover {
  background: #59B6B1;
}
.scene a.btn-hidden {
  display: none;
}
.scene a.btn-disabled {
  /* display: none; */
  background: #DDDDDD;
  cursor: not-allowed;
  user-select: none;
}
.scene a i {
  padding-right: 6px;
}

.scene .icon {
  margin-bottom: 24px;
}

.scene .icon i {
  height: 120px;
  color: #7AC9C5;
  font-size: 120px;
}

.scene .icon-alert i {
  color: #F55760;
}

.scene h2 {
  width: 540px;
  margin-bottom: 36px;
  font-family: 'Pacifico', sans-serif;
  font-size: 36px;
  color: #565656;
  text-align: center;
}

.scene p {
  width: 640px;
  margin: 0 auto 24px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.scene .small {
  margin-bottom: 12px;
  font-size: 10px;
  font-style: italic;
  line-height: 16px;
  color: #888888;
}

.scene .gallery {
  display: flex;
  flex-direction: row;
  width: 640px;
  height: 200px;
  margin-bottom: 24px;
}

.scene .gallery .frame {
  width: 80%;
  height: 100%;
  margin: 0 12px;
  /* border: 3px solid #7AC9C5; */
  border-radius: 8px;
  box-sizing: border-box;
}

.scene .gallery .frame img {
  height: 100%;
}

.scene .gallery .option {
  display: flex;
  border: 3px solid #FAF6EE;
  background: #FAF6EE;
  cursor: pointer;
}

.scene .gallery .option-selected {
  border: 3px solid #7AC9C5;
}

.scene .gallery .option p {
  align-self: center;
  width: 100%;
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
}

.scene .gallery .option p span {
  color: #7AC9C5;
}

.scene .gallery-v {
  flex-direction: column;
  align-items: center;
  width: 740px;
  height: auto;
}

.scene .gallery-v .frame {
  width: 100%;
  margin: 3px 0;
}

.scene textarea {
  width: 80%;
  margin-bottom: 24px;
  padding: 12px;
  background: #FFFFFF;
  color: #262626;
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 28px;
  border: 3px solid #7AC9C5;
  border-radius: 8px;
  outline: 0;
}

.scene .action a {
  display: inline-block;
}

.number {
  font-weight: bold;
  color: #7AC9C5;
}

footer {
  margin: 24px 0;
  font-size: 12px;
  color: #888888;
  text-align: center;
}
